.billboard {
  height: 45vw;
  margin: 0;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: flex-start;
}

.billboard .image {
  position: absolute;
  height: 47vw;
  z-index: 0;
  width: 100%;
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url('/imgs/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.billboard .actions {
  z-index: 1;
  color: white;
  display: flex;
  max-width: 40vw;
  flex-direction: column;
  justify-content: center;
  padding-left: 4%;
}
