.billboard {
  height: 45vw;
  margin: 0;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: flex-start;
}

.billboard .image {
  position: absolute;
  height: 56vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 0;
  width: 100%;
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url('../imgs/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.billboard .actions {
  z-index: 1;
  color: white;
  display: flex;
  max-width: 40vw;
  flex-direction: column;
  justify-content: center;
  padding-left: 4%;
}

.billboard .actions .title{
  font-size: 4vw;
  margin:0;
  margin-bottom: 1.5vw;
}
.billboard .actions .subtitle{
  font-size: 2.8vw;
  margin:0;
  margin-bottom: 2vw;
}
.billboard .actions .description{
  font-size: 2vw;
  margin:0;
  margin-bottom: 2vw;
}
.billboard .actions .button{
  display: inline-flex;
  align-items: center;
  font-size: 1.5vw;
  padding: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  background-color: #E50914;
  border-color: #FF0A16;
  color: white;
  text-decoration: none;
}

.billboard .actions .button .arrow-right {
  width: 0;
  height: 0;
  margin-right: 0.5em;
  border-top: 1em solid transparent;
  border-bottom: 1em solid transparent;
  border-left: 1em solid white;
  transform: scaleY(0.7);
}
.billboard .actions .button:hover {
  background-color: #FF0A16;
}

.billboard .image .bottom-gradient {
  background: linear-gradient(rgba(0,0,0,0), #141414); /* Standard syntax */
  display: inline-block;
  width: 100%;
  height: 7em;
}
