/*
red: #E50914
*/

body {
  background-color: #141414;
  margin: 0em;
  padding: 0em;
}
button.btn {
  border: none;
  background: none;
  background-color: none;
  color: #E50914;
}

.rows {
  height: 6em;
  background-color: lightgrey;
  width: 100vw;
}
