.rows {
  overflow: hidden
  position: relative;
}
.rows .row-container {
  height: 10vw;
  overflow-x: visible;
  width: 100vw;
  max-width: 100vw;
}
.rows .row-container .row {
  position: absolute;
  display: flex;
  flex-flow: row;
}
.rows .row .cell{
  box-sizing: border-box;
  width: 16vw;
  height: 9vw;
  background-color: grey;
  margin-right: 0.3vw;
  margin-left: 0.3vw;
}
