.rows {
  overflow: hidden;
  position: relative;
}

.rows .row-wrapper {
  position: relative;
  width: 100vw;
  height: 16.5vw;
}

.rows .row-wrapper>.title {
  color: #696969;
  margin-top: 2em;
  margin-left: 1em;
}

.rows .row-container {
  height: 14.5vw;
  width: 100vw;
  position: absolute;
  max-width: 100vw;
  overflow: hidden;
}
.rows .row-container .row {
  margin-top: 0.5vw;
  position: absolute;
  display: flex;
  flex-flow: row;
  padding-left: 1em;
  padding-right: 0.8em;
}

.rows .row-wrapper.invisible {
  visibility: hidden;
}


/*Cell CSS*/
body.is-mobile .scroller {
  display: none;
}
body.is-mobile .row-container {
  overflow-x: scroll;
}

.scroller {
  position: absolute;
  z-index: 2;
  width: 6vw;
  min-width: 2em;
  height: 14.5vw;
  background-color: rgba(0,0,0,0.3);
  cursor: pointer;

  display: flex;
  right: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.scroller.left {
  left: 0;
}
.scroller.right {
  right:0;
}
.scroller .icon {
  color: white;
}
/*Cell CSS*/
.cell{
  position: relative;
  box-sizing: border-box;
  width: 18vw;
  height: 13.5vw;
  background-color: rgba(0,0,0,0.7);
  margin-right: 0.3vw;
  margin-left: 0.3vw;
  transition: all .2s ease-in-out;
}

.cell:hover {
  transform: scale(1.2);
  width: calc(18vw * 1.2);
  z-index: 1;
}
.cell:hover .image {
  background-position-y: -1.2vw;
}

.cell .image{
  transition: background-position-y 250ms;
  z-index: 0;
  position: absolute;
  height: 100%;
  width: 100%;
}

.cell .text-area{
  background-color: rgba(0,0,0,0.1);
  overflow: hidden;
  z-index: 1;
  position: absolute;
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-content: center;
}
.cell .text-area .title {
  background-color: rgba(0,0,0,0.4);
  padding-top: 0.6em;
  padding-left: 0.6em;
  padding-right: 0.6em;
  box-sizing: border-box;
  vertical-align: bottom;
  width: 100%;
  height: 40%;
  font-size: 0.94vw;
}

.cell .text-area .title .link {
  padding-left: 0.3em;
  text-decoration: none;
  color: white;
  font-size: 1.4em
}



@media (max-width: 650px) {

  .rows .row-wrapper {
    height: 25vw;
  }
  .rows .row-container {
    height: 28vw;
  }

  .cell{
    width: 28vw;
    height: 21vw;
  }

  .cell:hover {
    transform: scale(1.2);
    width: calc(28vw * 1.2);
    z-index: 1;
  }

  .cell .text-area .title {
    height: 40%;
    font-size: 1.5vw;
  }

  .scroller {
    height: 22vw;
  }
}

@media (max-width: 420px) {
}
